body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.inner-page {
  background-image: url("../img/lighting-bg.png");
  background-repeat: repeat-x;
  background-position: 50% 0;
}

.inner-page main {
  margin-top: -20px;
}

.button {
  display: inline-block;
  padding: 10px 19px;

  font: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  color: #ffffff;

  background-color: #eb573b;
  background-image: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px #ac1000;
  
  border: none;
  border-radius: 50px;

  box-sizing: border-box;
}

.button:focus,
.button:hover {
  background-color: #ef7661;
  background-image: linear-gradient(to top, #ec6f5e 0%, #f58669 100%);
  box-shadow: 0px 2px 2px 0px #ac1000;
}

.button:active {
  background-color: #eb573b;
  background-image: linear-gradient(to top, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px #942718;
}

.main-navigation {
  position: relative;
  z-index: 1;
  display: flex;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  padding-top: 9px;
}

.site-navigation,
.user-navigation,
.catalog-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation {
  position: relative;
  display: flex;
  align-items: center;
  width: 675px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 16px;
  line-height: 18px;
}

.site-navigation a {
  padding-top: 7px;
  padding-right: 12px;
  padding-bottom: 7px;
  padding-left: 13px;
  box-sizing: border-box;
}

.site-navigation > li {
  position: relative;
  margin-right: 3px;
}

.site-navigation > li:last-child {
  margin-right: 0;
}

.site-navigation > li::after {
  content: "";

  position: absolute;
  right: 12px;
  bottom: 0;
  left: 13px;

  height: 1px;

  background-color: rgba(255, 255, 255, 0.2);
}

li.catalog-button::after {
  bottom: 14px;
}

.catalog-button:hover > a,
.catalog-button:focus > a,
.site-navigation a:hover,
.site-navigation a:focus {
  font-weight: 500;
  color: #333333;
  background-color: #f7f6f3;
  border-radius: 13px;
  border-bottom: none;
}

.site-navigation a:active {
  font-weight: 500;
  color: #333333;
  background-color: #ededed;
  border-radius: 13px;
  border-bottom: none;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.site-navigation .current,
.site-navigation .current:hover,
.site-navigation .current:focus,
.site-navigation .current:active {
  color: #ffffff;
  background-color: #d07058;
  border-bottom: none;
  box-shadow: none;
}

.site-navigation .current-site-nav > a{
  color: #ffffff;
  background-color: #d07058;
  border-radius: 13px;
  box-shadow: none;
}

.site-navigation .current-site-nav::after {
  content: none;
}

.catalog-navigation {
  display: none;
  position: absolute;
  top: 45px;
  left: -6px;
  padding: 0;
  padding-bottom: 4px;
  margin: 0;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-navigation a {
  display: block;
  width: 143px;
  padding: 0;
  padding-top: 8px;
  padding-right: 19px;
  padding-bottom: 7px;
  padding-left: 19px;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  color: #323232;
  
  border-radius: 0;
  border-bottom: none;
}

.catalog-navigation a:hover,
.catalog-navigation a:focus {
  background-color: #fbded7;
  border-radius: 0;
}

.catalog-navigation a:active {
  background-color: #f6b5a5;
  border-radius: 0;
  box-shadow: none;
}

.catalog-navigation .new {
  margin-right: 9px;
  margin-left: 6px;
  margin-bottom: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  border-bottom: 1px solid #d1d0ce;
}

.catalog-button {
  padding-top: 14px;
  padding-bottom: 14px;
}

.catalog-button:hover .catalog-navigation,
.catalog-button:focus .catalog-navigation {
  display: block;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  width: 293px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-top: 23px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.user-navigation input {
  font: inherit;
  font-size: 14px;
  line-height: 24px;
  color: #323232;
}

.search-form {
  position: relative;
}

.search-item:hover p {
  display: block;
}


.search-form p {
  position: absolute;
  left: -309px;
  display: none;
  width: 340px;
  margin: 0;
  padding: 0;
  padding: 19px 13px;
  padding-bottom: 21px;
  padding-right: 15px;
  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

.search-form input,
.login-form input {
  width: 100%;
  padding-top: 9px;
  padding-left: 13px;
  padding-bottom: 9px;
}

.login-item {
  position: relative;
}

.login-form {
  position: absolute;
  top: 36px;
  left: -184px;
  z-index: 2;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 278px;
  padding-top: 20px;
  padding-right: 13px;
  padding-bottom: 18px;
  padding-left: 20px;
  border-radius: 6px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

.login-form p {
  margin: 0;
  padding: 0;
}

.login-form input {
  width: 241px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.login-form button {
  align-self: center;
  width: 100px;
  border-radius: 19px;
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
  text-shadow: none;
}

.login-form button:hover,
.login-form button:focus {
  box-shadow: 0 1px 2px 0px #ac1000;
}

.login-form button:active {
  box-shadow: inset 0px 1px 2px 0px #942718;
}

.login-help {
  width: 125px;
  order: 2;
}

.login-help a {
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  color: #323232;
  border-bottom: 1px solid #adacaa;
}

.login-help .login-registr {
  position: relative;
  top: -4px;
}

.button-search,
.login-link,
.button-cart {
  margin-right: 10px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
}


.button-search {
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.button-search svg {
  display: block;
  margin: auto;
}

.login-link {
  display: block;
  padding-top: 1px;
  padding-right: 18px;
  padding-bottom: 8px;
  padding-left: 22px;
}

.login-item:hover .login-form {
  display: flex;
}

.login-item:hover path,
.login-link:hover path,
.login-link:focus path {
  fill: #000000;
}

.button-cart {
  position: relative;
  margin-right: 0;
  padding-top: 8px;
  padding-right: 34px;
  padding-bottom: 8px;
  padding-left: 43px;
}

.inner-page .button-cart {
  padding-right: 19px;
  padding-left: 41px;
}

.button-cart svg {
  position: absolute;
}

.button-cart:hover g,
.button-cart:focus g {
  fill: #000000;
}

.cart:hover .button-cart,
.cart:focus .button-cart,
.login-item:hover .login-link,
.login-item:focus .login-link,
.login-link:hover,
.button-cart:hover,
.login-link:focus,
.button-cart:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.search-item:hover .button-search,
.button-search:hover,
.button-search:focus {
  background-color: rgba(248, 247, 244, 1);
}

.search-item:hover path,
.button-search:hover path,
.button-search:focus path {
  fill: #000000;
}

.button-search:active {
  background-color: rgba(248, 247, 244, 1);
  padding: 0;
}

.cart {
  position: relative;
}

.cart-hidden {
  position: absolute;
  top: 36px;
  right: 0;
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.cart:hover .cart-hidden,
.cart:focus .cart-hidden {
  display: flex;
}

.cart-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 510px;
  margin-bottom: 11px;
  font-size: 13px;
  line-height: 16px;
  color: #323232
}

.cart-item .modal-close {
  width: 11px;
  height: 11px;
  margin-right: 14px;
  border: none;
  background-color: transparent;
  background-image: url("../img/svg/cross-small.svg");
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;
}

.cart-title {
  width: 220px;
  margin: 0;
  margin-right: 26px;
}

.cart-item:nth-child(even) .cart-title {
  padding-top: 19px;
}

.cart-item:last-child {
  margin-bottom: 15px;
}

.cart-amount {
  width: 103px;
  margin: 0;
  margin-right: 20px;
}

.cart-price {
  width: 65px;
}

.cart-item img {
  width: 33px;
  height: 33px;
  margin-right: 14px;
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #cacac7;
}

.cart-item .text-graycolor {
  color: #999999;
}

.cart-sum {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding-top: 14px;
}

.cart-sum > p {
  margin: 0;
  margin-bottom: 14px;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  color: #323232;
}

.cart-sum .button {
  width: 171px;
  padding-left: 15px;
  padding-right: 15px;
}

.phone-info {
  display: flex;
  width: 170px;
  margin: 0;
  margin-left: auto;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.phone-info .text-uppercase {
  position: relative;
  top: -2px;
}
.text-normal {
  font-size: 14px;
  line-height: 16px;
}

.text-uppercase {
  font-size: 22px;
  line-height: 24px;
}

.promo-slider {
  position: relative;
  z-index: 0;
  margin-bottom: 38px;
}

.slider-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider-item {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  min-height: 492px;
  z-index: 1;
}

.slider-item h3 {
  align-self: center;
  margin: 0;
  margin-bottom: 29px;
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
}

.slider-item .text-center {
  padding: 0 10px;
}

.slider-item:nth-child(2) .text-center {
  padding: 0 35px;
}

.slider-item:nth-child(3) .text-center {
  padding: 0 15px;
}

.slider-item .button {
  width: 279px;
  margin-bottom: 5px;
  align-self: center;
  font-size: 32px;
  line-height: 44px;
  box-sizing: border-box;
}

.slider-image {
  position: absolute;
  top: -135px;
  left: 50px;
  z-index: -1;
}

/*временные для сетки стили*/
.slider-item:nth-child(2) {
  display: none;
}

.slider-item:nth-child(3) {
  display: none;
}
/*временные для сетки стили*/

.slider-buttons {
  position: absolute;
  bottom: 26px;
  left: 27px;
  display: flex;
}

.slider-button {
  width: 21px;
  height: 21px;
  margin-right: 8px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #ffffff;
  border-radius: 15px;
  cursor: pointer;
  z-index: 2;
}

.slider-button--active {
  background-color: rgba(255, 255, 255, 1);
}

.slider-button:hover,
.slider-button:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider-button--active:hover,
.slider-button--active:focus {
  background-color: rgba(255, 255, 255, 1);
}

.slider-button:active {
  background-color: rgba(255, 255, 255, 1);
}

.slider-button:last-child {
  margin-right: 0;
}

.advertising {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.advertising .button {
  align-self: flex-end;
}

.advertising h3 {
  margin: 0;
  margin-bottom: 16px;
  font-size: 35px;
  line-height: 41px;
}

.advertising-raspberry {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 560px;
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 23px;
  padding-left: 20px;
  border-radius: 11px;
  background-color: transparent;
  background-image: url("../img/raspberry-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

.advertising-chocolate {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 560px;
  padding-top: 14px;
  padding-left: 20px;
  padding-bottom: 23px;
  padding-right: 25px;
  border-radius: 11px;
  background-color: transparent;
  background-image: url("../img/chocolate-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

.advertising-info {
  margin: 0;
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 22px;
}

.popular-items {
  margin-bottom: 23px;
}

.popular-items img {
  width: 267px;
  height: 267px;
}
.popular-items-list {
  display: flex;
  justify-content: space-between;
}

.popular-items h3 {
  width: 267px;
  order: 1;
  margin: 0;
  margin-bottom: 15px;
  padding-top: 13px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}

.popular-items-list .button {
  position: relative;
  display: none;
  align-self: center;
  order: 2;
  z-index: 2;
}

.popular-item {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 11px;
}

.popular-item:hover .button {
  display: block;
  margin-bottom: -45px;
}

.popular-item:hover::after {
  display: block;
}

.popular-item::after {
  content: "";
  position: absolute;
  top: -7px;
  left: -13px;
  display: none;
  width: 110%;
  height: 100%;
  padding-bottom: 66px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.popular-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;

  background-color: transparent;
  background-image: url("../img/svg/hit.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.popular-item-title span{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.popular-item-info {
  position: absolute;
  left: 0;
  bottom: 80px;
  margin: 0;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.popular-items-list,
.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-items-list p,
.catalog-list p {
  font-size: 30px;
  line-height: 45px;
}

.popular-items-list .text-uppercase,
.catalog-list .text-uppercase {
  font-size: 45px;
  line-height: 45px;
}

.features {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  color: #323232;
  background-image: url("../img/waffle-bg-pattern.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 13px;
}

.features-title {
  margin: 0;
  margin-bottom: 21px;
  padding-top: 25px;
  padding-left: 21px;
  font-size: 24px;
  line-height: 30px;
}

.features-list{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  list-style: none;
}

.features-item {
  position: relative;
  width: 483px;
  padding-left: 77px;
}

.features-item::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 20px;
  width: 49px;
  height: 49px;

  background-image: url("../img/svg/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.features-item:nth-child(even)::before {
  left: 25px;
  background-image: url("../img/svg/cow.svg");
}

.features-item:nth-child(3)::before {
  background-image: url("../img/svg/eco.svg");
}

.features-item:nth-child(4)::before {
  background-image: url("../img/svg/thermometer.svg");
}

.features-item:nth-child(even) {
  width: 477px;
  padding-left: 83px;
}

.features-info {
  margin: 0;
  margin-bottom: 22px;
  font-weight: 400;
}

.news {
  width: 290px;
  min-height: 220px;
  padding-right: 250px;
  padding-left: 20px;
  background-image: url("../img/strawberry-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}

.news h3 {
  margin: 0;
  padding-top: 23px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #323232;
}

.news-item {
  margin: 0;
  padding-top: 5px;
}

.news-item a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.login-help a:hover,
.login-help a:focus,
.news-item a:hover,
.news-item a:focus {
  color: #e84d37;
}

.login-help a:active,
.news-item a:active {
  color: #e84d37;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.map-wrapper {
  position: relative;
  width: 100%;
}

.map p {
  width: 100%;
  position: relative;
  margin: 0;
}

.map img {
  width: 1200px;
  height: 430px;
  z-index: 1;
}

.map iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  border: none;
}

.mailing {
  width: 508px;
  padding: 5px 26px;
  color: #5a5a5a;
  background-color: #f8f7f4;
  background-image: url("../img/mailing-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 14px;
}

.mailing-promo {
  font-weight: 400;
  margin: 0;
  margin-bottom: 36px;
  padding-top: 31px;
}

.mailing-form {
  display: flex;
  justify-content: space-between;
}

.mailing-form input {
  width: 368px;
  padding-left: 13px;
  box-sizing: border-box;
}

.contacts-wrapper {
  position: relative;
}

.contacts {
  position: absolute;
  right: 27px;
  top: -373px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 302px;
  min-height: 305px;
  padding-top: 28px;
  padding-bottom: 18px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  
  color: #323232;
  background-color: #fffffe;
  border-radius: 14px;

  box-sizing: border-box;
}

.contacts-address {
  margin: 0;
  margin-bottom: 20px;
}

.contacts-phone {
  margin: 0;
  margin-bottom: 26px;
}

.contacts .text-uppercase {
  display: block;
  padding-top: 4px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.contacts .feedback-button {
  width: 252px;
}

.breadcrumbs {
  display: flex;
  width: 853px;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  list-style: none;
}

.breadcrumbs a {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs li {
  position: relative;
  margin-right: 20px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after{
  content: "»";
  position: absolute;
  top: -1px;
  right: -13px;
  width: 7px;
  height: 6px;
}

.breadcrumbs li:last-child::after {
  content: "";
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.breadcrumbs a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.breadcrumbs .current-bc,
.breadcrumbs .current-bc:hover,
.breadcrumbs .current-bc:focus,
.breadcrumbs .current-bc:active {
  color: #ffffff;
  border-bottom: none;
}

.page-title {
  margin: 0;
  margin-bottom: 26px;
  font-size: 35px;
  font-weight: 500;
  line-height: 41px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  width: 880px;
  margin-bottom: 40px;
}

.filter-form ul {
  display: flex;
  list-style: none;
}

.filter-form fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-form legend {
  margin-bottom: 7px;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.filter-form label {
  line-height: 18px;
}

.background-select {
  position: relative;
  padding: 6px 10px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}
.filter-form select {
  width: 173px;
  font-weight: 400;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 25px;
  box-sizing: border-box;
  appearance: none;
}

.filter-form select:hover,
.filter-form select:focus {
  color: #000000;
}

.filter-form .icon-select {
  position: absolute;
  top: 13px;
  right: 14px;
  width: 11px;
  height: 10px;
  z-index: 1;
  pointer-events: none;
}

.filter-form .sorting {
  margin-bottom: 16px;
  margin-right: 16px;
}

 .filter-sort:hover + .icon-select polyline {
  fill: #323232;
}

.range {
  position: relative;
  width: 215px;
}

.filter-form .range {
  margin-right: 15px;
}

.filter-form .price-controls {
  position: relative;
  display: inline-block;
  margin-bottom: 4px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 113px;
  width: 7px;
  height: 2px;
  background: #ffffff;
}

.price-controls label {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  cursor: pointer;
}

.price-controls input {
  width: 55px;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0);
  border: 0;
}

.range-label {
  margin-right: 1px;
}

.min-price,
.max-price {
  width: 60px;
  margin-right: 10px;
  margin-top: -1px;
}

.range .filters-background {
  width: 195px;
  min-height: 20px;
  padding: 8px 12px;
  background-color: rgba(255, 255 ,255 , 0.2);
  border-radius: 25px;
}

.range-controls {
  position: absolute;
  bottom: 31px;
  left: 17px;
}

.scale {
  width: 175px;
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
  margin-left: 5px;
}

.bar {
  width: 103px;
  height: 4px;
  background: #ffffff;
  margin-left: 25px;
}

.range-toggle {
  position: absolute;
  top: -8px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle-min {
  left: 17px;
}

.range-toggle-max {
  right: 45px;
}

.range-toggle:hover {
  transform: scale(1.2);
}

.filter-form .filter-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 415px;
  margin: 0;
  padding: 0;
}

.radio-list .filters-background {
  width: 415px;
  min-height: 36px;
  padding: 7px 12px;
  border-radius: 25px;
  background-color: rgba(255, 255 ,255 , 0.2);
  box-sizing: border-box;
}

.filter-list .filter-option {
  position: relative;
  padding-left: 33px;
  margin-right: 16px;
}

.filter-list .filter-option:last-child {
  margin-right: 0;
}

.filter-option label {
  opacity: 0.8;
  cursor: pointer;
  user-select: none; 
}

.radio-input + label::before {
  content: "";
  position: absolute;
  left: 3px;
  width: 14px;
  height: 14px;
  border: 4px solid rgb(238, 242, 240);
  border-radius: 50%;
  background-color: transparent;
}

.radio-input:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(238, 242, 240);
}

.radio-input:disabled + label {
  opacity: 0.4;
}

.radio-input:hover + label,
.radio-input:focus + label {
  opacity: 1;
}

.filter-form .checkbox-list {
  margin-right: 14px;
}

.checkbox-list .filters-background {
  min-width: 702px;
  min-height: 36px;
  padding: 7px 12px;
  padding-right: 5px;
  padding-left: 13px;
  border-radius: 25px;
  background-color: rgba(255, 255 ,255 , 0.2);
  box-sizing: border-box;
}

.checkbox-list .filter-option {
  padding-left: 33px;
  margin-right: 21px;
}

.checkbox-list .filter-option:last-child {
  margin-right: 0;
}

.checkbox-input + label::before {
  content: "";
  position: absolute;
  left: -1px;
  width: 23px;
  height: 23px;
  background-image: url("../img/svg/checkbox-off.svg");
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(0.89);
}

.checkbox-input:checked + label::before {
  left: -1px;
  width: 27px;
  height: 23px;
  background-image: url("../img/svg/checkbox-on.svg");
}

.checkbox-input:disabled + label {
  opacity: 0.4;
}

.checkbox-input:hover + label,
.checkbox-input:focus + label {
  opacity: 1;
}

.button-sort {
  width: 145px;
  height: 36px;
  margin-top: 23px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 25px;
}

.button-sort:focus,
.button-sort:hover {
  color: #323232;
  background-color: rgba(255, 255, 255, 1);
}

.button-sort:active {
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 43px;
}

.catalog-list .button {
  position: relative;
  display: none;
  align-self: center;
  order: 2;
  z-index: 2;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
  border-radius: 11px;
}

.catalog-item:hover .button {
  display: block;
  margin-bottom: -45px;
}

.catalog-item:hover::after {
  display: block;
}

.catalog-item::after {
  content: "";
  position: absolute;
  top: -7px;
  left: -13px;
  display: none;
  width: 110%;
  height: 100%;
  padding-bottom: 66px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.catalog h3 {
  width: 258px;
  order: 1;
  margin: 0;
  margin-bottom: 15px;
  padding-top: 13px;
  padding-left: 5px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}

.border-container {
  border-bottom: 1px solid rgba(238, 242, 240, 0.3);
}

.pagination-list {
  position: relative;
  left: 8px;
  display: flex;
  min-height: 55px;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style: none;
}

.pagination-item {
  margin-right: 5px;
}

.pagination-item:first-child {
  width: 25px;
  height: 25px;
  margin-right: 6px;
  background-image: url("../img/svg/icon-right-small.svg");
  background-position: center;
  background-repeat: no-repeat;
  
  cursor: pointer;
  transform: rotate(180deg);
  opacity: 0.2;
}

.pagination-item.current-arrow {
  cursor: auto;
}

.pagination-item:last-child {
  width: 25px;
  height: 25px;
  margin-right: 0;
  background-image: url("../img/svg/icon-right-small.svg");
  background-position: center;
  background-repeat: no-repeat;
  
  cursor: pointer;
}

.arrow-next a:active,
.arrow-back a:active {
  background-image: url("../img/svg/icon-right-small-active.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.pagination-item a {
  display: block;
  width: 25px;
  height: 25px;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
  background-color: rgba(238, 242, 240, 0);
}

.pagination-item a:focus,
.pagination-item a:hover {
  background-color: rgba(238, 242, 240, 0.2);
}

.pagination-item a:active {
  color: #000000;
  background-color: rgba(238, 242, 240, 1);
}

.pagination-item-current a{
  color: #000000;
  background-color: rgba(238, 242, 240, 1);
}
.main-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.inner-page .main-footer {
  margin-top: 7px;
}

.main-footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-social {
  width: 267px;
  margin-right: 26px;
  margin-top: 29px;
}

.footer-social ul {
  display: flex;
  justify-content: flex-start;
}
.footer-social li {
  margin-right: 12px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.footer-social .social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-image: url("../img/svg/twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0.8;
}

.footer-social .social-button:hover,
.footer-social .social-button:focus {
  border: 3px solid rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.footer-social .social-button:active {
   border: 3px solid rgba(255, 255, 255, 0.7);
   opacity: 0.9;
   box-shadow: inset 0px 2px 1px #888888;
}

.footer-social .social-in {
  background-image: url("../img/svg/instagram.svg");
}

.footer-social .social-fb {
  background-image: url("../img/svg/fb.svg");
}

.footer-social .social-vk {
  background-image: url("../img/svg/vk.svg");
}

.about-us {
  width: 407px;
  margin-top: 24px
}

.about-us ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.about-us li {
  min-width: 143px;
}

.about-us a {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.about-us a:hover,
.about-us a:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.about-us a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.heart {
  position: relative;
}

.heart > a {
  font-weight: 500;
}

.heart::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -21px;
  width: 15px;
  height: 13px;

  background-image: url("../img/svg/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.copyright {
  position: relative;
  margin: 0;
  padding-top: 54px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.copyright::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 108px;
  height: 40px;

  background-image: url("../img/svg/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.copyright a {
  color: #fefefe;
  border-bottom: 1px solid rgba(254, 254, 254, 0.2);
}

.copyright a:hover,
.copyright a:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.copyright a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.modal-write-us {
  position: fixed;
  top: 339px;
  left: 50%;
  display: none;
  flex-direction: column;
  width: 477px;
  margin-left: -239px;
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 2;
}

.modal-write-us input {
  width: 265px;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-right: 5px;
  padding-left: 15px;
  padding-bottom: 12px;
  box-sizing: border-box;
}

.modal-write-us textarea {
  width: 428px;
  height: 155px;
  margin-bottom: 25px;
  padding-top: 12px;
  padding-right: 5px;
  padding-left: 15px;
  padding-bottom: 12px;
  box-sizing: border-box;
}

.modal-write-us .button {
  display: block;
  margin-left: auto;
}
.write-us-form {
  width: 430px;
}

.write-us-form p{
  margin: 0;
}

.mailing-form input,
.login-form input,
.search-form input,
.modal-write-us input,
.modal-write-us textarea {
  border-radius: 6px;
  border: 1px solid #d3d3d2; 
  box-sizing: border-box;
  outline: none;
}
.mailing-form input:hover,
.login-form input:hover,
.search-form input:hover,
.modal-write-us input:hover,
.modal-write-us textarea:hover {
  box-shadow: inset 0 0 0 1px #c7c6c5;
  outline: none;
}

.mailing-form input:focus,
.login-form input:focus,
.search-form input:focus,
.modal-write-us input:focus,
.modal-write-us textarea:focus {
  box-shadow: inset 0 0 0 1px #8fbdec;
  outline: none;
}

.write-us-slogan {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 28px;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 16px;
  
  width: 18px;
  height: 18px;

  font-size: 0;
  
  background-color: transparent;
  background-image: url("../img/svg/cross-big.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 0;

  cursor: pointer;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-show {
  display: flex;
}

.overlay-show {
  display: block;
}