body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #ffffff;

	background-color: #849d8f;
}

a {
	text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.button {
  display: inline-block;
  padding: 10px 19px;

	font: inherit;
	font-size: 18px;
  font-weight: 500;
	line-height: 24px;
	text-align: center;
  vertical-align: middle;
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
	color: #ffffff;

	background-color: #eb573b;
	background-image: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px #ac1000;
  
  border: none;
	border-radius: 50px;

  box-sizing: border-box;
}

.button:focus,
.button:hover {
	background-color: #ef7661;
	background-image: linear-gradient(to top, #ec6f5e 0%, #f58669 100%);
	box-shadow: 0px 2px 2px 0px #ac1000;
}

.button:active {
	background-color: #eb573b;
	background-image: linear-gradient(to top, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px #942718;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.user-navigation {
  width: 293px;
}
/*Временные стили для выравнивания сетки*/
.search-form {
  display: none;
}
.login-form {
  display: none;
}
/*Временные стили для выравнивания сетки*/

.main-header-logo {
  width: 154px;
  height: 64px;
  padding-top: 9px;
}

.site-navigation,
.user-navigation,
.catalog-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation {
  position: relative;
  display: flex;
  align-items: center;
  width: 675px;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  padding-left: 10px;
  font-size: 16px;
  line-height: 18px;
}

.site-navigation a {
  padding-top: 7px;
  padding-right: 12px;
  padding-bottom: 7px;
  padding-left: 13px;
  box-sizing: border-box;
}

.site-navigation > li {
  position: relative;
  margin-right: 3px;
}

.site-navigation > li:last-child {
  margin-right: 0;
}

.site-navigation > li::after {
  content: "";

  position: absolute;
  right: 12px;
  bottom: 0;
  left: 13px;

  height: 1px;

  background-color: rgba(255, 255, 255, 0.2);
}

li.catalog-button::after {
  bottom: 14px;
}

.catalog-button:hover > a,
.catalog-button:focus > a,
.site-navigation a:hover,
.site-navigation a:focus {
  font-weight: 500;
  color: #333333;
  background-color: #f7f6f3;
  border-radius: 13px;
  border-bottom: none;
}

.site-navigation a:active {
  font-weight: 500;
  color: #333333;
  background-color: #ededed;
  border-radius: 13px;
  border-bottom: none;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.site-navigation .current,
.site-navigation .current:hover,
.site-navigation .current:focus,
.site-navigation .current:active {
  color: #ffffff;
  background-color: #d07058;
  border-bottom: none;
  box-shadow: none;
}

.catalog-navigation {
  display: none;
  position: absolute;
  top: 45px;
  left: -6px;
  padding: 0;
  padding-bottom: 4px;
  margin: 0;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-navigation a {
  display: block;
  width: 143px;
  padding: 0;
  padding-top: 8px;
  padding-right: 19px;
  padding-bottom: 7px;
  padding-left: 19px;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  color: #323232;
  
  border-radius: 0;
  border-bottom: none;
}

.catalog-navigation a:hover,
.catalog-navigation a:focus {
  background-color: #fbded7;
  border-radius: 0;
}

.catalog-navigation a:active {
  background-color: #f6b5a5;
  border-radius: 0;
  box-shadow: none;
}

.catalog-navigation .new {
  margin-right: 9px;
  margin-left: 6px;
  margin-bottom: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  border-bottom: 1px solid #d1d0ce;
}

.catalog-button {
  padding-top: 14px;
  padding-bottom: 14px;
}

.catalog-button:hover .catalog-navigation {
  display: block;
}

.user-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.user-navigation input {
  font: inherit;
  font-size: 14px;
  line-height: 24px;
  color: #323232;
}

.search-form {
  background-color: #f8f7f4;
}

.login-form {
  background-color: #f8f7f4;
}

.login-help a{
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  border-bottom: 1px solid #323232;
}

.button-search,
.login-link,
.button-cart {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 13px;
}

.button-search:hover,
.login-link:hover,
.button-cart:hover,
.button-search:focus,
.login-link:focus,
.button-cart:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.cart {
  background-color: #f8f7f4;
}

.cart-item {
  color: #323232
}

.cart-items {
  list-style: none;
  border-bottom: 1px solid #cacac7;
}

.cart-item .text-graycolor {
  color: #999999;
}

.cart-sum p {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  color: #323232;
}

.text-normal {
  font-size: 14px;
  line-height: 16px;
}

.text-uppercase {
  font-size: 22px;
  line-height: 24px;
}

.promo-slider h3 {
  font-size: 60px;
  line-height: 60px;
}

.promo-slider .button {
  font-size: 32px;
  line-height: 44px;
}
.slider-list {
  list-style: none;
}

.advertising h3 {
  font-size: 35px;
  line-height: 41px;
}

.advertising-raspberry {
  background-image: url("../img/raspberry-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.advertising-chocolate {
  background-image: url("../img/chocolate-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.advertising-info {
  font-size: 18px;
  line-height: 22px;
}

.popular-items h3{
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.popular-items-list,
.catalog-list {
  list-style: none;
}

.popular-items-list p,
.catalog-list p {
  font-size: 30px;
  line-height: 45px;
}
.popular-items-list .text-uppercase,
.catalog-list .text-uppercase {
  font-size: 45px;
  line-height: 45px;
}

.features {
  color: #323232;
  background-image: url("../img/waffle-bg-pattern.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
}

.features-list{
  list-style: none;
}

.news {
  background-image: url("../img/strawberry-bg.png");
  background-repeat: no-repeat;
  background-position: center;
}
.news h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #323232;
}

.news-item a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  border-bottom: solid 2px #353535;
}

.login-help a:hover,
.login-help a:focus,
.news-item a:hover,
.news-item a:focus {
  color: #e84d37;
  border-bottom-color: rgba(232, 77, 55, 0.3);
}

.login-help a:active,
.news-item a:active {
  color: #e84d37;
  border-bottom-color: rgba(232, 77, 55, 0.3);
}

.mailing {
  color: #5a5a5a;
  background-color: #f8f7f4;
}

.contacts {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  
  color: #323232;
  background-color: #fffffe;
}

.contacts .text-uppercase {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  list-style: none;
}

.breadcrumbs a {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.breadcrumbs a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.breadcrumbs .current-bc,
.breadcrumbs .current-bc:hover,
.breadcrumbs .current-bc:focus,
.breadcrumbs .current-bc:active {
  color: #ffffff;
  border-bottom: none;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
}

.filter-form ul {
  list-style: none;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-size: 14px;
  line-height: 16px;
}

.filter-form label {
  line-height: 18px;
}

.filter-form select {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 13px;
}

.filter-form select:hover,
.filter-form select:focus {
  color: #000000;
}

.button-sort {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  border-radius: 11px;
}

.button-sort:focus,
.button-sort:hover {
  color: #323232;
  background-color: rgba(255, 255, 255, 1);
}

.button-sort:active {
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.catalog h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #ffffff;
}

.pagination-item a:focus,
.pagination-item a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active {
  color: #000000;
  background-color: #ffffff;
}

.main-footer ul {
  list-style: none;
}

.about-us a {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.about-us a:hover,
.about-us a:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.about-us a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.about-us a.heart {
  font-weight: 500;
}

.copyright {
  font-size: 12px;
  line-height: 18px;
}

.copyright a {
  color: #fefefe;
  border-bottom: 1px solid rgba(254, 254, 254, 0.2);
}

.copyright a:hover,
.copyright a:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.copyright a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.modal-write-us {
  font-size: 16px;
  line-height: 24px;
  color: #323232;
  background-color: #f8f7f4;
}

.login-form input,
.search-form input,
.modal-write-us input,
.modal-write-us textarea {
  border-radius: 4px;
  border: 1px solid #d3d3d2; 
  /*Бордер потом можно компенсировать паддингами*/
  box-sizing: border-box;
  outline: none;
}

.login-form input:hover,
.search-form input:hover,
.modal-write-us input:hover,
.modal-write-us textarea:hover {
  border: 2px solid #c7c6c5;
  outline: none;
}

.login-form input:focus,
.search-form input:focus,
.modal-write-us input:focus,
.modal-write-us textarea:focus {
  border: 2px solid #8fbdec;
  outline: none;
}

.write-us-slogan {
  font-size: 24px;
  line-height: 28px;
}